# Block everything
*

# No folder block
!**/

# No block C source code, cxx = cpp, h = header files
!*.c
!*.cxx
!*.h
!*.png
!CMakeLists.txt
!*.md 
!.gitignore

# Package Manager & Build Directories
node_modules/
vendor/
.cache/
dist/
build/
out/

# No block documentations
!README.md
!.gitignore

# Never commit Environment and Security
.env
.env.local
.env.*.local
*.pem
*.key

# Operating System System Files
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Server logs
*.log

# IDEs and Editors
!.vscode/
.vscode/*
!.vscode/extensions.json